.counter {
    border: 2px solid #fbbf24;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    margin-block: 1rem;
    margin-inline: auto;
    max-width: 500px;
    padding: 1rem;
    text-align: center;
    width: 100%;
  
    &__value {
      font-size: 2rem;
    }
  
    &__actions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }
  